#projects-title {
    padding: 3rem;
}

.tool-logo {
    height: 80px;
    padding-bottom: 10px;
}

.justify-center {
    justify-content: center;
}

.technologies-p-tag {
    margin-bottom: 20px;
}

.less-bottom-margin {
    margin-bottom: 20px;
}
